.info {
    padding-top: 2rem;
    max-width: 1280px;
    margin-inline: auto;
    padding-bottom: 20rem;
}

.line {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.15);
}

.items-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 4rem;
    padding-inline: 1.25rem;
}

.item { 
    flex: 1;
    min-width: 200px;
}

.item__tittle {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
}

.item__description {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    text-align: center;
}

/*INFO WRAPPER  */
.info-wrapper {
    display: flex;
    align-items: center;
    padding-inline: 1.25rem;
    gap: 1.5rem;
    margin-top: 4rem;
}

.info__left{
    flex: 1;
}

.info__right {
    flex: 1;
}

.section__up-text {
    color: #2eb1a3;
    text-transform: uppercase;
    font-weight: 700;
}

.section__tittle {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 500;
}

.section__description {
    color: rgba(255, 255, 255, 0.7);
    line-height: calc(1em + 0.7rem);
    margin-block: 1rem;
}

.section__btn {
    background: linear-gradient(to right, #e8546b, #ac3cf6 );
    padding: 0.5em 2em;
    border-radius: 8px;
   color: #000;
}